pre {
    margin: 0;
    code {
        min-height: 5px !important;
        display: block;
    }
}
.view-hide-buttons {
    border-bottom: 2px solid #9197a3;
    .language{
        font-size: 10px;
        font-weight: bold;
        color: #9197a3;
    }
    a {
        &.see_more_link{
            float: right;
        }
        &.hide {
            display: none;
        }
    }
}

.code-extension {
    overflow: hidden;
}

@import "styles";